.contact {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 142px 0 69px 0;

    .contact-title {
      margin: 0;
      text-align: center;
      font-weight: 600;
      font-size: 14px;
      line-height: 22.4px;
      text-transform: uppercase;
      color: transparent;
      background: linear-gradient(-45deg, #e63573 30%, #5635dd 100%);
      -webkit-background-clip: text;
      background-clip: text;
      letter-spacing: 2px;
    }

    .contact-info {
      margin: 0;
      width: 668px;
      font-size: 60px;
      line-height: 81px;
      color: #131313;
      text-align: center;
    }

    .contact-with {
      margin-top: 37px;
      margin-bottom: 101px;
      display: flex;
      align-items: center;
      flex-direction: column;
      cursor: pointer;
      padding: 114px 31px 72px 31px;
      border-radius: 100%;
      background: linear-gradient(to top, #e63573, #5635dd);

      .with-text {
        font-weight: 700;
        color: #fff;
        line-height: 22.4px;
        letter-spacing: 4px;
        margin-bottom: 16px;
      }
    }

    .icons {
      margin-top: 86px;
      display: flex;
      align-items: center;
      gap: 114.34px;
    }
  }
}

@media (max-width: 1024px) {
  .contact {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 117px 0 53px 0;

      .contact-title {
        margin: 0;
        text-align: center;
        font-weight: 600;
        font-size: 14px;
        line-height: 22.4px;
        text-transform: uppercase;
        color: transparent;
        background: linear-gradient(-45deg, #e63573 30%, #5635dd 100%);
        -webkit-background-clip: text;
        background-clip: text;
        letter-spacing: 2px;
      }

      .contact-info {
        margin: 0;
        width: 512px;
        font-size: 46px;
        line-height: 62px;
        color: #131313;
        text-align: center;
      }

      .contact-with {
        margin-top: 29px;
        margin-bottom: 78px;
        display: flex;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
        padding: 88px 24px 60px 24px;
        border-radius: 100%;
        background: linear-gradient(to top, #e63573, #5635dd);

        .with-text {
          font-weight: 700;
          color: #fff;
          line-height: 17px;
          font-size: 12px;
          letter-spacing: 4px;
          margin-bottom: 16px;
        }
      }

      .icons {
        margin-top: 66px;
        display: flex;
        align-items: center;
        gap: 111.32px;
      }
    }
  }
}

@media (max-width: 375px) {
  .contact {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 90px 0 48px 0;

      .contact-title {
        margin: 0;
        text-align: center;
        font-weight: 600;
        font-size: 14px;
        line-height: 22.4px;
        text-transform: uppercase;
        color: transparent;
        background: linear-gradient(-45deg, #e63573 30%, #5635dd 100%);
        -webkit-background-clip: text;
        background-clip: text;
        letter-spacing: 2px;
      }

      .contact-info {
        margin: 0;
        width: 326px;
        font-size: 36px;
        line-height: 49px;
        color: #131313;
        text-align: center;
        margin-top: 19px;
      }

      .contact-with {
        margin-top: 44px;
        margin-bottom: 74px;
        display: flex;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
        padding: 65px 18px 30px 18px;
        border-radius: 100%;
        background: linear-gradient(to top, #e63573, #5635dd);

        .with-text {
          font-weight: 700;
          color: #fff;
          line-height: 13px;
          font-size: 9px;
          letter-spacing: 2px;
          margin-bottom: 9px;
        }
        .arrow {
          width: 16px;
          height: 20px;
        }
      }

      .icons {
        margin-top: 58px;
        display: flex;
        align-items: center;
        gap: 46px;
        img {
          width: 26px;
          height: 32px;
        }
      }
    }
  }
}
