.trusted {
  margin: 172px auto 0 auto;
  .container {
    .title {
      font-family: var(--font-inter);
      font-weight: 500;
      text-align: center;
      margin-bottom: 24px;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 1px;
      color: #12141dcc;
    }
    .logos {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

@media (max-width: 1024px) {
  .trusted {
    margin: 132px 74px 0 74px;
    .container {
      .title {
        font-family: var(--font-inter);
        font-weight: 500;
        text-align: center;
        margin-bottom: 18px;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 1px;
        color: #12141dcc;
      }
      .logos {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}

@media (max-width: 375px) {
  .trusted {
    margin: 83px 24px 0 24px;
    .container {
      .title {
        font-family: var(--font-inter);
        font-weight: 500;
        text-align: center;
        margin-bottom: 18px;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 1px;
        color: #12141dcc;
      }
      .logos {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        img {
          width: 84px;
          height: 50px;
        }
      }
    }
  }
}
