.test {
  padding-top: 159px;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .test-title {
      margin: 0;
      font-weight: 600;
      font-size: 14px;
      line-height: 22.4px;
      text-transform: uppercase;
      color: transparent;
      background: linear-gradient(-45deg, #e63573 10%, #5635dd 100%);
      -webkit-background-clip: text;
      background-clip: text;
      letter-spacing: 2px;
    }
    .test-info {
      font-weight: 600;
      font-size: 40px;
      line-height: 54px;
      color: #131313;
    }

    .test-cards {
      margin-top: 73px;
      display: flex;
      gap: 30px;
      .test-card {
        width: 545px;
        padding: 26px 24px;
        box-shadow: 0px 0px 70px rgba($color: #afadb51a, $alpha: 0.1);

        .card-text {
          margin: 26px 0;
          font-weight: 400;
          font-size: 18px;
          line-height: 32.4px;
          color: #090d23;
        }

        .test-footer {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .person-info {
            display: flex;
            gap: 14px;
            align-items: center;

            .persont-name {
              font-weight: 500;
              font-size: 20px;
              line-height: 26px;
              color: #090d23;
            }
          }
          .info-rate {
            display: flex;
            align-items: center;
            gap: 10px;
            .count {
              font-weight: 600;
              font-size: 18px;
              line-height: 23.4px;
              color: #090d23;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .test {
    padding-top: 109px;
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .test-title {
        margin: 0;
        font-weight: 600;
        font-size: 14px;
        line-height: 22.4px;
        text-transform: uppercase;
        color: transparent;
        background: linear-gradient(-45deg, #e63573 10%, #5635dd 100%);
        -webkit-background-clip: text;
        background-clip: text;
        letter-spacing: 2px;
      }
      .test-info {
        font-weight: 600;
        font-size: 32px;
        line-height: 43px;
        color: #131313;
      }

      .test-cards {
        margin-top: 69px;
        display: flex;
        gap: 27px;
        .test-card {
          width: 350px;
          padding: 23px 21px;
          box-shadow: 0px 0px 70px rgba($color: #afadb51a, $alpha: 0.1);

          .card-text {
            margin: 26px 0;
            font-weight: 400;
            font-size: 16px;
            line-height: 29px;
            color: #090d23;
          }

          .test-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .person-info {
              display: flex;
              gap: 12px;
              align-items: center;

              .persont-name {
                font-weight: 500;
                font-size: 18px;
                line-height: 23px;
                color: #090d23;
              }
            }
            .info-rate {
              display: flex;
              align-items: center;
              gap: 9px;
              .count {
                font-weight: 600;
                font-size: 16px;
                line-height: 21px;
                color: #090d23;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .test {
    padding-top: 75px;
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .test-title {
        margin: 0;
        font-weight: 600;
        font-size: 14px;
        line-height: 22.4px;
        text-transform: uppercase;
        color: transparent;
        background: linear-gradient(-45deg, #e63573 10%, #5635dd 100%);
        -webkit-background-clip: text;
        background-clip: text;
        letter-spacing: 2px;
      }
      .test-info {
        margin: 0;
        font-weight: 600;
        font-size: 26px;
        line-height: 38px;
        color: #131313;
      }

      .test-cards {
        margin-top: 54px;
        display: flex;
        flex-direction: column;
        gap: 23px;
        .test-card {
          width: 327px;
          padding: 23px 21px;
          box-shadow: 0px 0px 40px rgba($color: #afadb51a, $alpha: 0.1);

          .card-text {
            margin: 23px 0;
            font-weight: 400;
            font-size: 16px;
            line-height: 29px;
            color: #090d23;
          }

          .test-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .person-info {
              display: flex;
              gap: 12px;
              align-items: center;

              .persont-name {
                font-weight: 500;
                font-size: 18px;
                line-height: 23px;
                color: #090d23;
              }
            }
            .info-rate {
              display: flex;
              align-items: center;
              gap: 9px;
              .count {
                font-weight: 600;
                font-size: 16px;
                line-height: 21px;
                color: #090d23;
              }
            }
          }
        }
      }
    }
  }
}
