.blog {
  margin-top: 175px;
  background: #181818;
  .container {
    .blog-container {
      .blog-header {
        padding-top: 92px;
        .title {
          margin: 0;
          font-weight: 600;
          font-size: 14px;
          line-height: 22.4px;
          text-transform: uppercase;
          color: transparent;
          background: linear-gradient(-45deg, #e63573 90%, #5635dd 100%);
          -webkit-background-clip: text;
          background-clip: text;
          letter-spacing: 2px;
        }
        .blog-info {
          display: flex;
          align-items: center;
          justify-content: space-between;
          h2 {
            margin: 0;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 40px;
            line-height: 54px;
            color: #ffff;
          }
          button {
            position: relative;
            cursor: pointer;
            font-weight: 500;
            font-size: 17px;
            line-height: 18px;
            color: #181818;
            background: linear-gradient(to right, #4d34e3, #e93470);
            border: none;
            outline: none;
            padding: 10px 30px 20px 10px;
            z-index: 1000;

            &:before {
              content: "";
              position: absolute;
              top: -6px;
              left: -10px;
              width: 100%;
              height: 100%;
              background-color: #ffff;
              z-index: -1;
            }
          }
        }
      }
      .blog-cards {
        margin-top: 126px;
        .card {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          .box {
            position: relative;
            padding-bottom: 200px;
            margin-bottom: 25px;
            cursor: pointer;

            &:hover {
              box-shadow: 5px 5px 5px rgba($color: #fff, $alpha: 0.5);
            }

            .card-info {
              position: absolute;
              top: 50%;
              left: 22%;
              .header {
                margin: 0;
                font-weight: 500;
                font-size: 13px;
                line-height: 18.2px;
                color: #888888;
              }
              .card-title {
                margin: 0;
                color: #fff;
                font-size: 30px;
                line-height: 40.5px;
              }
              .card-text {
                margin-top: 22px;
                margin-bottom: 23px;
                font-weight: 500;
                font-size: 16px;
                line-height: 22.4px;
                color: #aaa;
              }
              span {
                display: flex;
                align-items: center;
                gap: 11px;
                cursor: pointer;
                font-weight: 700;
                font-size: 16px;
                line-height: 22.4px;
                letter-spacing: 4px;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .blog {
    margin-top: 149px;
    background: #181818;
    .container {
      .blog-container {
        .blog-header {
          padding-top: 70px;
          .title {
            margin: 0;
            font-weight: 600;
            font-size: 14px;
            line-height: 22.4px;
            text-transform: uppercase;
            color: transparent;
            background: linear-gradient(-45deg, #e63573 90%, #5635dd 100%);
            -webkit-background-clip: text;
            background-clip: text;
            letter-spacing: 2px;
          }
          .blog-info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            h2 {
              margin: 0;
              text-transform: uppercase;
              font-weight: 600;
              font-size: 32px;
              line-height: 43px;
              color: #ffff;
            }
            button {
              position: relative;
              cursor: pointer;
              font-weight: 500;
              font-size: 13px;
              line-height: 14px;
              color: #181818;
              background: linear-gradient(to right, #4d34e3, #e93470);
              border: none;
              outline: none;
              padding: 10px 30px 20px 10px;
              z-index: 1000;

              &:before {
                content: "";
                position: absolute;
                top: -6px;
                left: -10px;
                width: 100%;
                height: 100%;
                background-color: #ffff;
                z-index: -1;
              }
            }
          }
        }
        .blog-cards {
          margin-top: 63px;
          .card {
            display: flex;
            justify-content: space-between;

            .box {
              position: relative;
              padding-bottom: 200px;
              margin-bottom: 25px;
              cursor: pointer;

              &:hover {
                box-shadow: 5px 5px 5px rgba($color: #fff, $alpha: 0.5);
              }
              .main-img {
                width: 430px;
                height: 302px;
              }

              .card-info {
                position: absolute;
                top: 48%;
                left: 22%;
                .header {
                  font-weight: 500;
                  font-size: 10px;
                  line-height: 14px;
                  color: #888888;
                }
                .card-title {
                  color: #fff;
                  font-size: 24px;
                  line-height: 32px;
                }
                .card-text {
                  margin-top: 22px;
                  margin-bottom: 23px;
                  font-weight: 500;
                  font-size: 12px;
                  line-height: 17px;
                  color: #aaa;
                }
                span {
                  display: flex;
                  align-items: center;
                  gap: 11px;
                  cursor: pointer;
                  font-weight: 700;
                  font-size: 12px;
                  line-height: 17px;
                  letter-spacing: 4px;
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .blog {
    margin-top: 100px;
    background: #181818;
    .container {
      .blog-container {
        .blog-header {
          padding-top: 54px;
          .title {
            margin: 0;
            font-weight: 600;
            font-size: 14px;
            line-height: 22.4px;
            text-transform: uppercase;
            color: transparent;
            background: linear-gradient(-45deg, #e63573 90%, #5635dd 100%);
            -webkit-background-clip: text;
            background-clip: text;
            letter-spacing: 2px;
          }
          .blog-info {
            margin-top: 12px;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: space-between;
            h2 {
              margin: 0;
              text-transform: uppercase;
              font-weight: 600;
              font-size: 28px;
              line-height: 38px;
              color: #ffff;
              margin-bottom: 80px;
            }
            button {
              position: relative;
              cursor: pointer;
              font-weight: 500;
              font-size: 13px;
              line-height: 14px;
              color: #181818;
              background: linear-gradient(to right, #4d34e3, #e93470);
              border: none;
              outline: none;
              padding: 10px 30px 20px 20px;
              z-index: 1000;

              &:before {
                content: "";
                position: absolute;
                top: -6px;
                left: -8px;
                width: 100%;
                height: 100%;
                background-color: #ffff;
                z-index: -1;
              }
            }
          }
        }
        .blog-cards {
          margin-top: 60px;
          .card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .box {
              position: relative;
              padding-bottom: 160px;
              margin-bottom: 0px;
              cursor: pointer;

              &:hover {
                box-shadow: 5px 5px 5px rgba($color: #fff, $alpha: 0.5);
              }
              .main-img {
                width: 100%;
                height: 202px;
              }

              .card-info {
                position: absolute;
                top: 43%;
                left: 22%;
                .header {
                  font-weight: 500;
                  font-size: 8px;
                  line-height: 11px;
                  color: #888888;
                }
                .card-title {
                  color: #fff;
                  font-size: 18px;
                  line-height: 24px;
                }
                .card-text {
                  margin-top: 12px;
                  margin-bottom: 13px;
                  font-weight: 500;
                  font-size: 9px;
                  line-height: 13px;
                  color: #aaa;
                }
                span {
                  display: flex;
                  align-items: center;
                  gap: 11px;
                  cursor: pointer;
                  font-weight: 700;
                  font-size: 9px;
                  line-height: 13px;
                  letter-spacing: 4px;
                  color: #fff;
                  img {
                    width: 8px;
                    height: 10px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
