:root {
  --primary-color: #d20a0a;
  --primary-soft-color: #ef722e14;
  --secondary-color: #fdc100;
  --text-color: #696969;
}

html {
  box-sizing: border-box;
}
body {
  margin: 0 !important;
  max-width: 100%;
  font-family: var(--font-plus-jakarta-sans);
  font-weight: 400;
  overflow-x: hidden;
  padding: 0 !important;
  touch-action: pan-x, pan-y;
  transition: all 0.4s cubic-bezier(0.57, 0.25, 0.33, 1) 0s;
}

h1 {
  font-family: var(--font-plus-jakarta-sans);
  font-weight: 800;
}
h2 {
  font-family: var(--font-poppins);
  font-weight: 600;
}
h3 {
  font-family: var(--font-poppins);
  font-weight: 600;
}

.container {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

@media (min-width: 1440px) {
  .container {
    max-width: 1170px;
  }
}

@media (min-width: 902px) {
  .container {
    max-width: 902px;
  }
}

@media (min-width: 332px) {
  .container {
    max-width: 332px;
  }
}
