header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 24px 0;

  .menu-btn {
    display: none;
  }

  nav {
    display: flex;
    align-items: center;
    gap: 50px;
    ul {
      list-style: none;
      display: flex;
      gap: 36px;

      li {
        cursor: pointer;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        &:hover {
          color: transparent;
          background: linear-gradient(to right, #4d34e3, #e93470);
          -webkit-background-clip: text;
          background-clip: text;
        }
      }
    }
    button {
      margin-right: 10px;
      position: relative;
      cursor: pointer;
      font-weight: 500;
      font-size: 18px;
      color: #ffffff;
      background-color: #000000;
      border: none;
      outline: none;
      padding: 20px 30px;

      &:before {
        content: "";
        position: absolute;
        top: 9px;
        left: 10px;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, #4d34e3, #e93470);
        z-index: -1;
      }
    }
  }
}

@media (max-width: 1024px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 24px 0;

    .menu-btn {
      display: none;
    }

    nav {
      display: flex;
      align-items: center;
      gap: 57px;
      ul {
        list-style: none;
        display: flex;
        gap: 36px;

        li {
          cursor: pointer;
          font-weight: 500;
          font-size: 18px;
          line-height: 27px;
          &:hover {
            color: transparent;
            background: linear-gradient(to right, #4d34e3, #e93470);
            -webkit-background-clip: text;
            background-clip: text;
          }
        }
      }
      button {
        overflow-x: none;
        position: relative;
        cursor: pointer;
        font-weight: 500;
        font-size: 14px;
        color: #ffffff;
        background-color: #000000;
        border: none;
        outline: none;
        padding: 16px 24px;

        &:before {
          content: "";
          position: absolute;
          top: 8px;
          left: 10px;
          width: 100%;
          height: 100%;
          background: linear-gradient(to right, #4d34e3, #e93470);
          z-index: -1;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 24px 0;

    .menu-btn {
      display: flex;
    }

    nav {
      display: none;
    }
  }
}
