.banner {
  .container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin: 63px auto 0 auto;
    .banner-info {
      position: absolute;
      top: -10%;
      left: 0;

      .miami {
        text-transform: uppercase;
        font-weight: 800;
        font-size: 170px;
        line-height: 150px;
        color: transparent;
        background: linear-gradient(to left, #f43366 40%, #3c33ef 100%);
        -webkit-background-clip: text;
        background-clip: text;
      }
      .walker {
        text-transform: uppercase;
        font-weight: 800;
        font-size: 170px;
        line-height: 10px;
        letter-spacing: 1px;
        font-stretch: expanded;
        span {
          font-weight: 800;
          font-size: 170px;
          line-height: 10px;
          color: #fff;
          letter-spacing: 1px;
        }
      }
      .text {
        width: 580px;
        margin-top: 80px;
        font-weight: 400;
        font-size: 20px;
        line-height: 33px;
        color: #666666;
      }
      button {
        margin-top: 63px;
        position: relative;
        cursor: pointer;
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        color: #ffffff;
        background-color: #000000;
        border: none;
        outline: none;
        padding: 20px 30px;

        &:before {
          content: "";
          position: absolute;
          top: 9px;
          left: 10px;
          width: 100%;
          height: 100%;
          background: linear-gradient(to right, #4d34e3, #e93470);
          z-index: -1;
        }
      }
    }
    .res-banner-info {
      display: none;
    }
  }
}

@media (max-width: 1024px) {
  .banner {
    .container {
      position: relative;
      display: flex;
      justify-content: flex-end;
      margin: 48px 74px 0 74px;
      img {
        width: 431.5px;
        height: 538.6px;
      }

      .banner-info {
        position: absolute;
        top: -10;
        left: 0;

        .miami {
          text-transform: uppercase;
          font-weight: 800;
          font-size: 130px;
          line-height: 100px;
          color: transparent;
          background: linear-gradient(to left, #f43366 40%, #3c33ef 100%);
          -webkit-background-clip: text;
          background-clip: text;
        }
        .walker {
          text-transform: uppercase;
          font-weight: 800;
          font-size: 130px;
          line-height: 10px;
          letter-spacing: -2px;
          font-stretch: expanded;
          span {
            font-weight: 800;
            font-size: 130px;
            line-height: 10px;
            color: #fff;
            letter-spacing: -2px;
          }
        }
        .text {
          width: 446.92px;
          margin-top: 80px;
          font-weight: 400;
          font-size: 16px;
          line-height: 25.43px;
          color: #666666;
        }
        button {
          margin-top: 63px;
          position: relative;
          cursor: pointer;
          font-weight: 500;
          font-size: 18px;
          line-height: 18px;
          color: #ffffff;
          background-color: #000000;
          border: none;
          outline: none;
          padding: 20px 30px;

          &:before {
            content: "";
            position: absolute;
            top: 9px;
            left: 10px;
            width: 100%;
            height: 100%;
            background: linear-gradient(to right, #4d34e3, #e93470);
            z-index: -1;
          }
        }
      }
      .res-banner-info {
        display: none;
      }
    }
  }
}

@media (max-width: 375px) {
  .banner {
    .container {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: none;
      margin: 0px 24px 0 24px;
      img {
        width: 327px;
        height: 402px;
      }

      .banner-info {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 40%;
        bottom: 0;
        left: 20%;
        right: 0;

        .miami {
          text-transform: uppercase;
          font-weight: 800;
          font-size: 62px;
          line-height: 93px;
          color: transparent;
          background: linear-gradient(to left, #fff 40%, #fff 100%);
          -webkit-background-clip: text;
          background-clip: text;
        }
        .walker {
          display: none;
          span {
            display: none;
          }
        }
        .text {
          display: none;
        }
        button {
          display: none;
        }
      }

      .res-banner-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px;
        .res-walker {
          text-transform: uppercase;
          font-weight: 800;
          font-size: 62px;
          line-height: 20px;
        }
        .res-text {
          margin: 0;
          font-weight: 400;
          font-size: 16px;
          line-height: 25px;
          color: #6666;
        }
        button {
          margin-top: 49px;
          position: relative;
          cursor: pointer;
          font-weight: 500;
          font-size: 14px;
          line-height: 14px;
          color: #ffffff;
          background-color: #000000;
          border: none;
          outline: none;
          padding: 15px 23px;

          &:before {
            content: "";
            position: absolute;
            top: 7px;
            left: 7px;
            width: 100%;
            height: 100%;
            background: linear-gradient(to right, #4d34e3, #e93470);
            z-index: -1;
          }
        }
      }
    }
  }
}
