.features {
  .container {
    display: flex;
    gap: 100px;
    padding: 136px 0 147px 0;
    .features-info {
      display: flex;
      flex-direction: column;
      h3 {
        font-weight: 600;
        font-size: 14px;
        line-height: 22.4px;
        color: transparent;
        background: linear-gradient(-45deg, #e63573 90%, #5635dd 100%);
        -webkit-background-clip: text;
        background-clip: text;
        letter-spacing: 2px;
      }
      .info-title {
        font-size: 40px;
        line-height: 54px;
        color: #131313;
      }
      .info-text {
        margin-top: 32px;
        margin-bottom: 43px;
        font-weight: 500;
        font-size: 16px;
        line-height: 22.4px;
        color: #aaa;
      }
      button {
        width: 152.39px;
        position: relative;
        cursor: pointer;
        font-weight: 500;
        font-size: 17px;
        line-height: 18px;
        color: #ffffff;
        background-color: #000000;
        border: none;
        outline: none;
        padding: 20px 30px;

        &:before {
          content: "";
          position: absolute;
          top: 9px;
          left: 10px;
          width: 100%;
          height: 100%;
          background: linear-gradient(to right, #4d34e3, #e93470);
          z-index: -1;
        }
      }
    }

    .features-cards {
      display: flex;
      gap: 29px;
      .first-col {
        padding-top: 60px;
        display: flex;
        gap: 49px;
        flex-direction: column;
        .box {
          display: flex;
          flex-direction: column;
          .ft-title {
            margin-top: 7px;
            font-weight: 600;
            font-size: 24px;
            line-height: 33.6px;
            color: #131313;
          }
          .ft-text {
            margin-top: 11px;
            font-weight: 500;
            font-size: 16px;
            line-height: 22.4px;
            color: #aaa;
          }
        }
      }
      .second-col {
        display: flex;
        gap: 49px;
        flex-direction: column;
        .box {
          display: flex;
          flex-direction: column;
          .ft-title {
            margin-top: 7px;
            font-weight: 600;
            font-size: 24px;
            line-height: 33.6px;
            color: #131313;
          }
          .ft-text {
            margin-top: 11px;
            font-weight: 500;
            font-size: 16px;
            line-height: 22.4px;
            color: #aaa;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .features {
    .container {
      display: flex;
      gap: 77px;
      padding: 104px 0 113px 0;
      .features-info {
        display: flex;
        flex-direction: column;
        h3 {
          font-weight: 600;
          font-size: 14px;
          line-height: 22.4px;
          color: transparent;
          background: linear-gradient(-45deg, #e63573 90%, #5635dd 100%);
          -webkit-background-clip: text;
          background-clip: text;
          letter-spacing: 2px;
        }
        .info-title {
          font-size: 32px;
          line-height: 43px;
          color: #131313;
        }
        .info-text {
          margin-top: 22px;
          margin-bottom: 33px;
          font-weight: 500;
          font-size: 12px;
          line-height: 17px;
          color: #aaa;
        }
        button {
          width: 114px;
          position: relative;
          cursor: pointer;
          font-weight: 500;
          font-size: 13px;
          line-height: 14px;
          color: #ffffff;
          background-color: #000000;
          border: none;
          outline: none;
          padding: 15px 23px;

          &:before {
            content: "";
            position: absolute;
            top: 8px;
            left: 10px;
            width: 100%;
            height: 100%;
            background: linear-gradient(to right, #4d34e3, #e93470);
            z-index: -1;
          }
        }
      }

      .features-cards {
        display: flex;
        gap: 22px;
        .first-col {
          padding-top: 60px;
          display: flex;
          gap: 38px;
          flex-direction: column;
          .box {
            display: flex;
            flex-direction: column;
            img {
              width: 208px;
              height: 93px;
            }
            .ft-title {
              margin-top: 7px;
              font-weight: 600;
              font-size: 18px;
              line-height: 25px;
              color: #131313;
            }
            .ft-text {
              margin-top: 11px;
              font-weight: 500;
              font-size: 12px;
              line-height: 17px;
              color: #aaa;
            }
          }
        }
        .second-col {
          display: flex;
          gap: 22px;
          flex-direction: column;
          .box {
            display: flex;
            flex-direction: column;
            img {
              width: 208px;
              height: 93px;
            }
            .ft-title {
              margin-top: 7px;
              font-weight: 600;
              font-size: 18px;
              line-height: 25px;
              color: #131313;
            }
            .ft-text {
              margin-top: 11px;
              font-weight: 500;
              font-size: 12px;
              line-height: 17px;
              color: #aaa;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .features {
    .container {
      display: flex;
      flex-direction: column;
      gap: 0px;
      padding: 83px 0 81px 0;
      .features-info {
        display: flex;
        flex-direction: column;
        h3 {
          margin: 0;
          font-weight: 600;
          font-size: 14px;
          line-height: 22.4px;
          color: transparent;
          background: linear-gradient(-45deg, #e63573 90%, #5635dd 100%);
          -webkit-background-clip: text;
          background-clip: text;
          letter-spacing: 2px;
        }
        .info-title {
          margin: 0;
          font-size: 28px;
          line-height: 38px;
          color: #131313;
        }
        .info-text {
          margin-top: 25px;
          margin-bottom: 33px;
          font-weight: 500;
          font-size: 12px;
          line-height: 17px;
          color: #aaa;
        }
        button {
          width: 114px;
          position: relative;
          cursor: pointer;
          font-weight: 500;
          font-size: 13px;
          line-height: 14px;
          color: #ffffff;
          background-color: #000000;
          border: none;
          outline: none;
          padding: 15px 23px;

          &:before {
            content: "";
            position: absolute;
            top: 8px;
            left: 10px;
            width: 100%;
            height: 100%;
            background: linear-gradient(to right, #4d34e3, #e93470);
            z-index: -1;
          }
        }
      }

      .features-cards {
        display: flex;
        flex-direction: column;
        gap: 22px;
        .first-col {
          padding-top: 48px;
          display: flex;
          gap: 30px;
          flex-direction: column;
          .box {
            display: flex;
            flex-direction: column;
            img {
              width: 100%;
              height: 145px;
            }
            .ft-title {
              margin-top: 9px;
              font-weight: 600;
              font-size: 24px;
              line-height: 34px;
              color: #131313;
            }
            .ft-text {
              margin-top: 4px;
              font-weight: 500;
              font-size: 16px;
              line-height: 22px;
              color: #aaa;
            }
          }
        }
        .second-col {
          display: flex;
          gap: 22px;
          flex-direction: column;
          .box {
            display: flex;
            flex-direction: column;
            img {
              width: 100%;
              height: 145px;
            }
            .ft-title {
              margin-top: 9px;
              font-weight: 600;
              font-size: 24px;
              line-height: 34px;
              color: #131313;
            }
            .ft-text {
              margin-top: 4px;
              font-weight: 500;
              font-size: 16px;
              line-height: 22px;
              color: #aaa;
            }
          }
        }
      }
    }
  }
}
