footer {
  border-top: 2px solid #bbbbbb;
  .container {
    .footer {
      padding: 34px 0;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      p {
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #acacac;
      }
    }
  }
}

@media (max-width: 1024px) {
  footer {
    border-top: 2px solid #bbbbbb;

    .container {
      .footer {
        padding: 34px 0;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
          font-weight: 500;
          font-size: 18px;
          line-height: 27px;
          color: #acacac;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  footer {
    border-top: 2px solid #bbbbbb;

    .container {
      .footer {
        padding: 19px 0;
        margin: 0 auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        p {
          font-weight: 500;
          font-size: 14px;
          line-height: 21px;
          color: #acacac;
        }
      }
    }
  }
}
