.counts {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .counts-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      .title {
        margin: 0;
        font-size: 70px;
        line-height: 80px;
        color: #fff;
        text-transform: capitalize;
        background: linear-gradient(to bottom, #5735dc, #e53574);
        background-size: 50% 100%;
        -webkit-background-clip: text;
        -webkit-text-stroke: 3px transparent;
      }
      .text {
        font-weight: 600;
        font-size: 16px;
        line-height: 12.4px;
        color: #000000;
      }
    }
  }
}

@media (max-width: 1024px) {
  .counts {
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .counts-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        .title {
          margin: 0;
          font-size: 54px;
          line-height: 76px;
          color: #fff;
          text-transform: capitalize;
          background: linear-gradient(to bottom, #5735dc, #e53574);
          background-size: 100% 100%;
          -webkit-background-clip: text;
          -webkit-text-stroke: 3px transparent;
        }
        .text {
          font-weight: 600;
          font-size: 12px;
          line-height: 17px;
          color: #000000;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .counts {
    .container {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: space-between;
      align-items: center;
      .counts-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        .title {
          margin: 0;
          font-size: 46px;
          line-height: 52px;
          color: #fff;
          text-transform: capitalize;
          background: linear-gradient(to bottom, #5735dc, #e53574);
          background-size: 100% 100%;
          -webkit-background-clip: text;
          -webkit-text-stroke: 3px transparent;
        }
        .text {
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: #000000;
        }
      }
    }
  }
}
