.portfolio {
  margin: 213px auto 0 auto;

  .container {
    .title {
      margin: 0;
      font-weight: 600;
      font-size: 14px;
      line-height: 22.4px;
      text-transform: uppercase;
      color: transparent;
      background: linear-gradient(-45deg, #e63573 90%, #5635dd 100%);
      -webkit-background-clip: text;
      background-clip: text;
      letter-spacing: 2px;
    }

    .info {
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      h2 {
        margin: 0;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 40px;
        line-height: 54px;
        color: #131313;
      }
      button {
        margin-right: 10px;
        position: relative;
        cursor: pointer;
        font-weight: 500;
        font-size: 17px;
        line-height: 18px;
        color: #ffffff;
        background-color: #000000;
        border: none;
        outline: none;
        padding: 20px 30px;

        &:before {
          content: "";
          position: absolute;
          top: 9px;
          left: 10px;
          width: 100%;
          height: 100%;
          background: linear-gradient(to right, #4d34e3, #e93470);
          z-index: -1;
        }
      }
    }

    .image-row {
      position: relative;
      width: 100%;
      margin-top: 50px;
      display: flex;
      justify-content: space-between;

      .img-info {
        position: absolute;
        bottom: 5%;
        left: 3%;
        .info-title {
          margin: 0;
          font-weight: 600;
          font-size: 14px;
          line-height: 22.4px;
          text-transform: uppercase;
          color: transparent;
          background: linear-gradient(-45deg, #e63573 70%, #5635dd 100%);
          -webkit-background-clip: text;
          background-clip: text;
          letter-spacing: 2px;
        }
        h3 {
          margin: 0;
          font-weight: 600;
          font-size: 40px;
          line-height: 54px;
          color: #ffd9d9;
        }
      }
      img {
        &:hover {
          cursor: pointer;
          box-shadow: 5px 5px 5px rgba($color: #000000, $alpha: 0.5);
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .portfolio {
    margin: 164px 74px 0 74px;
    .container {
      .title {
        font-weight: 600;
        font-size: 14px;
        line-height: 22.4px;
        text-transform: uppercase;
        color: transparent;
        background: linear-gradient(-45deg, #e63573 90%, #5635dd 100%);
        -webkit-background-clip: text;
        background-clip: text;
        letter-spacing: 2px;
      }

      .info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h2 {
          text-transform: uppercase;
          font-weight: 600;
          font-size: 32px;
          line-height: 43px;
          color: #131313;
        }
        button {
          position: relative;
          cursor: pointer;
          font-weight: 500;
          font-size: 13px;
          line-height: 14px;
          color: #ffffff;
          background-color: #000000;
          border: none;
          outline: none;
          padding: 15px 23px;

          &:before {
            content: "";
            position: absolute;
            top: 8px;
            left: 10px;
            width: 100%;
            height: 100%;
            background: linear-gradient(to right, #4d34e3, #e93470);
            z-index: -1;
          }
        }
      }

      .image-row {
        position: relative;
        margin-top: 50px;
        display: flex;
        justify-content: space-between;

        .first-img {
          width: 320px;
          height: 225px;
        }
        .second-img {
          width: 281px;
          height: 225px;
        }
        .third-img {
          width: 250px;
          height: 225px;
        }

        .img-info {
          position: absolute;
          bottom: 5%;
          left: 3%;
          .info-title {
            font-weight: 600;
            font-size: 11px;
            line-height: 17px;
            text-transform: uppercase;
            color: transparent;
            background: linear-gradient(-45deg, #e63573 70%, #5635dd 100%);
            -webkit-background-clip: text;
            background-clip: text;
            letter-spacing: 2px;
          }
          h3 {
            font-weight: 600;
            font-size: 31px;
            line-height: 42px;
            color: #ffd9d9;
          }
        }
        img {
          &:hover {
            cursor: pointer;
            box-shadow: 5px 5px 5px rgba($color: #000000, $alpha: 0.5);
          }
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .portfolio {
    margin: 81px 24px 0 24px;
    .container {
      .title {
        margin: 0;
        font-weight: 600;
        font-size: 14px;
        line-height: 22.4px;
        text-transform: uppercase;
        color: transparent;
        background: linear-gradient(-45deg, #e63573 90%, #5635dd 100%);
        -webkit-background-clip: text;
        background-clip: text;
        letter-spacing: 2px;
      }

      .info {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;
        h2 {
          margin-top: 8px;
          margin-bottom: 47px;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 28px;
          line-height: 38px;
          color: #131313;
        }
        button {
          position: relative;
          cursor: pointer;
          font-weight: 500;
          font-size: 13px;
          line-height: 14px;
          color: #ffffff;
          background-color: #000000;
          border: none;
          outline: none;
          padding: 15px 23px;
          margin-bottom: 22px;

          &:before {
            content: "";
            position: absolute;
            top: 8px;
            left: 10px;
            width: 100%;
            height: 100%;
            background: linear-gradient(to right, #4d34e3, #e93470);
            z-index: -1;
          }
        }
      }

      .image-row {
        position: relative;
        margin-top: 22px;
        display: flex;
        gap: 16px;
        flex-direction: column;
        justify-content: space-between;

        .first-img {
          width: 100%;
          height: 225px;
        }
        .second-img {
          width: 100%;
          height: 225px;
        }
        .third-img {
          width: 100%;
          height: 225px;
        }

        .img-info {
          position: absolute;
          top: 22%;
          bottom: 0%;
          left: 4%;
          .info-title {
            font-weight: 600;
            font-size: 12px;
            line-height: 19px;
            text-transform: uppercase;
            color: transparent;
            background: linear-gradient(-45deg, #e63573 70%, #5635dd 100%);
            -webkit-background-clip: text;
            background-clip: text;
            letter-spacing: 2px;
          }
          h3 {
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            color: #ffd9d9;
          }
        }
        img {
          &:hover {
            cursor: pointer;
            box-shadow: 5px 5px 5px rgba($color: #000000, $alpha: 0.5);
          }
        }
      }
    }
  }
}
