.faq {
  margin-top: 160px;
  background-color: #181818;
  .container {
    .faq-container {
      display: flex;
      justify-content: space-between;
      gap: 107px;
      padding: 127px 0 131px;

      .res-faq-info {
        display: none;
      }
      .carusel {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .carusel-box {
          width: 570px;
          padding: 21px;
          background-color: #222222;
          display: flex;
          align-items: center;
          justify-content: space-between;
          SVG {
            path {
              fill: #fff;
            }
          }
          .car-text {
            margin: 0;
            font-weight: 600;
            color: #fff;
            font-size: 20px;
            line-height: 28.8px;
          }
        }
      }
      .faq-info {
        display: flex;
        flex-direction: column;
        h3 {
          margin: 0;
          font-weight: 600;
          font-size: 14px;
          line-height: 22.4px;
          letter-spacing: 4px;
          color: transparent;
          background: linear-gradient(-45deg, #e63573 90%, #5635dd 100%);
          -webkit-background-clip: text;
          background-clip: text;
          letter-spacing: 2px;
        }
        .info-title {
          margin: 0;
          font-weight: 600;
          font-size: 40px;
          line-height: 54px;
          color: #fff;
        }
        .faq-text {
          margin-top: 24px;
          font-weight: 500;
          font-size: 16px;
          line-height: 23.04px;
          color: #aaa;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .faq {
    margin-top: 108px;
    background-color: #181818;
    .container {
      .faq-container {
        display: flex;
        justify-content: space-between;
        gap: 83px;
        padding: 98px 0 100px;
        .res-faq-info {
          display: none;
        }
        .carusel {
          display: flex;
          flex-direction: column;
          gap: 15px;
          .carusel-box {
            width: 439px;
            padding: 17px 15px;
            background-color: #222222;
            display: flex;
            align-items: center;
            justify-content: space-between;
            SVG {
              path {
                fill: #fff;
              }
            }
            .car-text {
              margin: 0;
              font-weight: 600;
              color: #fff;
              font-size: 16px;
              line-height: 23px;
            }
          }
        }
        .faq-info {
          display: flex;
          flex-direction: column;
          h3 {
            margin: 0;
            font-weight: 600;
            font-size: 14px;
            line-height: 22.4px;
            letter-spacing: 4px;
            color: transparent;
            background: linear-gradient(-45deg, #e63573 90%, #5635dd 100%);
            -webkit-background-clip: text;
            background-clip: text;
            letter-spacing: 2px;
          }
          .info-title {
            margin: 0;
            font-weight: 600;
            font-size: 32px;
            line-height: 43px;
            color: #fff;
          }
          .faq-text {
            margin-top: 24px;
            font-weight: 500;
            font-size: 12px;
            line-height: 17px;
            color: #aaa;
          }
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .faq {
    margin-top: 71px;
    background-color: #181818;
    .container {
      .faq-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 36px;
        padding: 49px 0 66px;
        .res-faq-info {
          display: flex;
          flex-direction: column;
          h3 {
            margin: 0;
            font-weight: 600;
            font-size: 14px;
            line-height: 22.4px;
            letter-spacing: 4px;
            color: transparent;
            background: linear-gradient(-45deg, #e63573 90%, #5635dd 100%);
            -webkit-background-clip: text;
            background-clip: text;
            letter-spacing: 2px;
          }
          .info-title {
            margin: 0;
            font-weight: 600;
            font-size: 28px;
            line-height: 38px;
            color: #fff;
          }
          .faq-text {
            margin-top: 26px;
            font-weight: 500;
            font-size: 12px;
            line-height: 17px;
            color: #aaa;
          }
        }
        .carusel {
          display: flex;
          flex-direction: column;
          gap: 12px;
          .carusel-box {
            width: 100%;
            padding: 12px 11px;
            background-color: #222222;
            display: flex;
            align-items: center;
            justify-content: space-between;
            SVG {
              width: 16px;
              margin-right: 20px;
              path {
                fill: #fff;
              }
            }
            .car-text {
              margin: 0;
              font-weight: 600;
              color: #fff;
              font-size: 12px;
              line-height: 17px;
            }
          }
        }
        .faq-info {
          display: none;
        }
      }
    }
  }
}
